# .env
PORT=8765
DATABASE_URL=postgresql://postgres:TU_CONTRASEÑA@localhost:5432/datacredito

NEXT_PUBLIC_SUPABASE_URL=https://qaywrmgxjechjpxxkbyv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_4kN4tRxSLF-DN-yHsJ0-kA_1OSTFAbS

